.characterItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.charListName,
.newChar {
  text-decoration: none;
}

.charListName {
  margin-top: 5px;
  color: #333;
}

.charListName:visited {
  color: blue;
}

button {
  color: white;
  background-color: darkblue;
  border: 1px solid transparent;
  border-radius: 5px;
}

button:hover {
  color: darkblue;
  background-color: white;
  border: 1px solid darkblue;
}

.CharacterList {
  margin-bottom: 20px;
}

.list-title {
  margin-bottom: 10px;
  text-shadow: 2px 2px darkred;
}

a {
  text-shadow: 1px 1px darkred;
}

input {
  margin: auto;
  width: 95%;
  border: 0.5px solid black;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.newChar {
  transform: all 0.25s ease-out;
}

.newChar:hover {
  transform: scale(1.5);
}

.card {
  width: 100%;
}
