.landingPage-title {
  margin-bottom: 10px;
  text-shadow: 2px 2px darkred;
}

.card {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 25px;
}

body {
  min-height: 100%;
  background-attachment: fixed;
  background-image: url(../images/dark-city-1998-setting-shot.jpeg);
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainBody {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: 'Goudy';
  font-weight: bold;
  color: white;
}

.landingPageContinue {
  text-align: center;
}
