header {
  color: white;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 15px;
}

fieldset {
  margin-top: 10px;
}
