header {
  color: white;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  margin-top: 15px;
}

input {
  font-family: 'Goudy';
}

label {
  color: white;
  font-family: 'Escalido';
  text-shadow: red 1px 1px;
  font-weight: bold;
}

legend {
  color: white;
  text-shadow: red 1px 1px;
}

fieldset {
  margin-top: 10px;
}

.form-error {
  text-align: center;
  color: red;
  background-color: black;
  font-size: 18px;
}
