@font-face {
  font-family: 'Goudy';
  src: url(./fonts/Goudy.eot);
  src: url(./fonts/Goudy.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Goudy.woff2) format('woff2'),
    url(./fonts/Goudy.woff) format('woff'),
    url(./fonts/Goudy.ttf) format('truetype'),
    url(./fonts/Goudy.svg#Goudy) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Escalido';
  src: url(./fonts/EscalidoGothico.eot);
  src: url(./fonts/EscalidoGothico.eot?#iefix) format('embedded-opentype'),
    url(./fonts/EscalidoGothico.woff2) format('woff2'),
    url(./fonts/EscalidoGothico.woff) format('woff'),
    url(./fonts/EscalidoGothico.ttf) format('truetype'),
    url(./fonts/EscalidoGothico.svg#EscalidoGothico) format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  justify-content: center;
  font-family: sans-serif;
  padding: 10px;
  background: #1976d2;
}

h2,
h3,
legend {
  font-family: 'Escalido';
  margin: 0;
}

h2 {
  color: white;
}

ul {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;
  list-style-type: none;
}

input {
  display: block;
}

a,
span,
button {
  font-family: 'Goudy';
  font-weight: bold;
}
